{% extends 'base.html' %}
{% load static %}

{% block body %}
    <main class="principal">
      <section class="conta">
        <div class="conta__container">
          <div class="checkout__titulos">
            <p class="checkout__titulo">Crie sua conta agora!</p>
          </div>

            {% if erro == "preenchimento" %}
            <p>Preencha todas as informações do formulário corretamente</p>
            {% endif %}

            {% if erro == "email_invalido" %}
            <p>E-mail inválido, tente novamente!</p>
            {% endif %}

            {% if erro == "usuário_existente" %}
            <p>Este usuário já existe, tente outro email ou faça o <a href="{% url 'fazer_login' %}"> Login</a></p>
            {% endif %}

            {% if erro == "senhas_diferentes" %}
            <p>As senhas são incompátiveis, tente novamente</p>
            {% endif %}

          <form
            class="conta__form"
            action="{% url 'criar_conta' %}"
            method="post"
          >
              {% csrf_token %}
            <div class="conta__item conta__item--email">
              <label for="email">E-mail</label>
              <input name="email" type="text" placeholder="E-mail">
            </div>

            <div class="conta__item">
              <label for="senha">Senha</label>
              <input name="senha" type="password" placeholder="Senha">
            </div>

            <div class="conta__item">
              <label for="confirmacao_senha">Senha</label>
              <input name="confirmacao_senha" type="password" placeholder="Confirmação de Senha">
            </div>

            <button class="subtotal__botao" type="submit">
              Criar uma conta
            </button>
          </form>

        <a href="{% url 'fazer_login' %}">Já te uma conta? faça o Login!</a>
        </div>

      </section>
    </main>

{% endblock %}